@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 9999;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModalPortal {
  position: absolute;
  height: 1px;
  width: 1px;
}
